#conda create -n env_HNET python=3.6
#conda activate env_HNET
#conda install spyder

wget

matplotlib
numpy
pandas
statsmodels
networkx
seaborn
community
python-louvain
statsmodels

tqdm
community
sklearn

# Custom libraries
ismember
imagesc
df2onehot
classeval
d3graph

# pip install dash dash-renderer dash-html-components dash-core-components
